/*------------------------------------*\
  #Youtube
\*------------------------------------*/

.youtube-wrapper__video {
  position: relative;
  padding-bottom: 56.23%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: var(--color__body);

  img,
  svg {
    cursor: pointer;
  }

  .video--play-btn__bg {
    transition: 0.4s opacity;
    opacity: 0.7;
  }

  &:hover {
    .video--play-btn__bg {
      opacity: 1;
    }
  }

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: none;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .video--play-btn {
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
    width: 4em;
    height: 4em;
    margin: 0;

    &__bg {
      fill: var(--color__highlight);
    }

    &__play {
      fill: $color__white;
    }

    &:focus {
      outline: 3px dotted var(--color__link--primary);
    }
  }
}
