/*------------------------------------*\
  #Grids
\*------------------------------------*/

.four-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2,1fr);

  img {
    border-radius: 5px;    
  }

  @include mq(small) {
    grid-template-columns: repeat(4,1fr);
  }
}

/*------------------------------------*\
  #Storage Grid
\*------------------------------------*/

.storage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5.5rem, 1fr));
  gap: 2rem 1rem;

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      padding: .15rem 0;
    }
  }
}