/*------------------------------------*\
  #Section/Site
\*------------------------------------*/

.section,
.site {
  > header {
    position: relative;
    margin-top: 4rem;
    max-width: $aligncontent;

    h1 {
      margin-top: 0;
      font-size: clamp(2rem, 10vw, 3rem);
    }
  }

  &__content {
    > p,
    > form,
    > .widget {
      max-width: $aligncontent;
    }
  }
}

.section {
  margin: 5rem 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.alignwide {
  max-width: $alignwide;
}

.alignfull {
  max-width: $alignfull;
}
