/*------------------------------------*\
  #Tiles Grid
\*------------------------------------*/

.tiles-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin: 1rem 0;

  @include mq(small) {
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);

    .factory_tags-short-film {
      grid-column-end: span 2;
      grid-row-end: span 2;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
