/*------------------------------------*\
  #Tags
\*------------------------------------*/

.tags {
  font-size: $font-size__small;

  &--cloud {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  a {
    display: inline-block;
    position: relative;
    margin: .6rem .6rem 0 0;

    &.active {
      color: var(--color__text);
    }
    
    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: "#";
      color: var(--color__text);
    }
  }
}