/*------------------------------------*\
  #Sub-Navigation
\*------------------------------------*/

.sub-navigation {
  display: flex;
  font-family: $font-family__heading;

  a {
    display: inline;
    
    &:first-child {
      margin-right: 2rem;
    }

  }
}
